---

---

<footer class="py-16 mt-12 border-t border-gray-200 text-center bg-nmbs-blue">
    <p class="text-lg font-bold text-white">
        <a href="https://github.com/anders-cpu/projectdocbalsa.git" target="_blank" rel="noopener noreferrer" class="text-white font-extrabold hover:underline">
            Bekijk de broncode op GitHub
        </a>
    </p>
</footer>
