---
import WeekLayout from '../../layouts/WeekLayout.astro';
---

<WeekLayout week={10} title="Mobile Schermen Uitwerken" subtitle="Verdere uitwerking van de mobiele schermen.">
    <h2>Wat heb ik gedaan?</h2>
    <p>
        De details van de mobiele interface zijn verder uitgewerkt. Iconen, witruimte en typografie zijn zorgvuldig gefinetuned, waardoor de interface
        consistenter aanvoelt en het geheel steeds meer één samenhangend ontwerp begint te vormen. Dit omvat het aanpassen van knoppen, navigatie-elementen en
        andere UI-componenten om ervoor te zorgen dat ze visueel aantrekkelijk en functioneel zijn op mobiele apparaten. Het resultaat is een strakker en
        professioneler uitziend ontwerp dat beter aansluit bij de behoeften van mobiele gebruikers.
    </p>

    <h2>Waarom?</h2>
    <p>
        De details maken het design. Een consistente interface wekt vertrouwen bij de gebruiker. Wat betekent dat de gebruiker zich comfortabel voelt met het
        gebruik van de app. Ook zorgt het voor een professionele uitstraling die aansluit bij de huisstijl van de opdrachtgever. Daarbovenop zal het zorgen dat
        de gebruiksvriendelijkheid en toegankelijkheid worden verbeterd, wat essentieel is voor het succes van de app en het zal de gebruiker vertrouwen geven
        in de developer.
    </p>
</WeekLayout>
