---
import WeekLayout from '../../layouts/WeekLayout.astro';
---

<WeekLayout 
    week={11} 
    title="Eindspurt" 
    subtitle="Laatste aanpassingen en afwerking."
>
    <h2>Wat heb ik gedaan?</h2>
    <p>
        Alle losse eindjes aan elkaar geknoopt. Zowel het Figma prototype als de documentatiewebsite zijn nagekeken op fouten.
    </p>

    <h2>Waarom?</h2>
    <p>
        Kwaliteitscontrole is de laatste stap voor oplevering.
    </p>
</WeekLayout>
