---
import WeekLayout from '../../layouts/WeekLayout.astro';
---

<WeekLayout week={11} title="Eindspurt" subtitle="Laatste aanpassingen en afwerking.">
    <h2>Wat heb ik gedaan?</h2>
    <p>
        Alle losse eindjes aan elkaar geknoopt. Zowel het Figma prototype als de documentatiewebsite zijn nagekeken op fouten, deze fouten ben ik nu ook aan het
        oplossen. Na wat laatste optimalisaties is het project klaar voor oplevering. Ik heb de weekverslagen nagekeken op spelfouten en grammatica, zodat alles
        er professioneel uitziet. De laatste loodjes wegen het zwaarst!
    </p>

    <h2>Waarom?</h2>
    <p>
        Kwaliteitscontrole is de laatste stap voor oplevering. Dit zorgt ervoor dat het eindproduct voldoet aan de verwachtingen en standaarden van de
        opdrachtgever. Het is een essentieel onderdeel van het ontwikkelproces dat ervoor zorgt dat de eindresultaten professioneel en volledig zijn.
    </p>
</WeekLayout>
