---
import WeekLayout from '../../layouts/WeekLayout.astro';
---

<WeekLayout week={12} title="Documentatie & Finalisering" subtitle="Online zetten van de volledige documentatie.">
    <h2>Wat heb ik gedaan?</h2>
    <p>Deze website is afgewerkt en alle weekverslagen zijn ingevuld. Het Figma prototype is geüpload en gelinkt op de homepage.</p>

    <h2>Eindresultaat</h2>
    <p>
        Met de afronding van alle geplande activiteiten, de uitvoering van mijn creatieve concepten en de zorgvuldige afronding van de laatste details, kan ik
        met trots concluderen dat het project 'Lost in Tra(i)nslation' nu officieel en volledig is afgerond.
    </p>
</WeekLayout>
