---
import WeekLayout from '../../layouts/WeekLayout.astro';
---

<WeekLayout week={12} title="Documentatie & Finalisering" subtitle="Online zetten van de volledige documentatie.">
    <h2>Wat heb ik gedaan?</h2>
    <p>
        Deze website is afgewerkt en alle weekverslagen zijn ingevuld. Het Figma prototype is geüpload en gelinkt op de homepage. Alles is nu toegankelijk voor
        de opdrachtgever en andere belanghebbenden. Ik heb ervoor gezorgd dat alle links werken en dat de lay-out consistent is over de verschillende pagina's.
        De laatste controles zijn uitgevoerd om ervoor te zorgen dat alles er professioneel uitziet en goed functioneert. De documentatie is nu compleet en
        klaar voor het te tonen.
    </p>
</WeekLayout>

<h2>Eindresultaat</h2>
<p>
    Met de afronding van alle geplande activiteiten, de uitvoering van mijn creatieve concepten en de zorgvuldige afronding van de laatste details, kan ik met
    trots concluderen dat het project 'Lost in Tra(i)nslation' nu officieel en volledig is afgerond. Ik ben tevreden met het eindresultaat en kijk ernaar uit om
    dit te tonen aan de opdrachtgever.
</p>
