---
import WeekLayout from '../../layouts/WeekLayout.astro';
---

<WeekLayout 
    week={3} 
    title="Schermen maken in Figma" 
    subtitle="Opzetten van de eerste schermen en wireframes."
>
    <h2>Wat heb ik gedaan?</h2>
    <p>
        De eerste wireframes zijn gemaakt. Ik heb me vooral gefocust op het afkrijgen van mijn figma prototypes en ben ook stilaan begonnen met de flow van de applicatie.
    </p>

    <h2>Waarom?</h2>
    <p>
        Door eerst wireframes te maken (low-fidelity) kan ik snel de structuur verbeteren zonder afgeleid te geraken door kleuren of details.
    </p>
    
</WeekLayout>

