---
import WeekLayout from '../../layouts/WeekLayout.astro';
---

<WeekLayout week={5} title="HTML Basis & Deployment" subtitle="De basis van HTML leren en online zetten.">
    <h2>Wat heb ik gedaan?</h2>
    <p>
        Deze week heb ik mijn GitHub-repositories succesvol aangemaakt en correct geconfigureerd. Ik heb de benodigde instellingen doorlopen om alles goed te
        laten functioneren en heb een eenvoudige HTML-pagina ontwikkeld. Deze pagina heb ik online geplaatst, zodat de basis van mijn project zichtbaar en
        toegankelijk is via het web. Het was leerzaam om te werken met versiebeheer en te ontdekken hoe Continuous Deployment werkt via Netlify. Het was een
        heel leerzame week, het opzetten verliep niet altijd even vlot maar ik heb het toch voor elkaar gekregen.
    </p>
    <ul class="list-disc pl-5">
        <li>GitHub repository aangemaakt en gekoppeld aan Netlify</li>
        <li>Eerste 'Hello World' pagina online gezet en getest</li>
    </ul>
    <h2>Waarom?</h2>
    <p>
        Continuous Deployment zorgt ervoor dat mijn voortgang altijd zichtbaar is en dat ik snel kan inspelen op wijzigingen. GitHub dient als backup en
        versiebeheer, wat essentieel is voor een gestructureerde workflow. Door deze tools te gebruiken, kan ik efficiënter werken en mijn project professioneel
        beheren, wat belangrijk is voor het succes van mijn eindresultaat.
    </p>
</WeekLayout>
