---
import WeekLayout from '../../layouts/WeekLayout.astro';
---

<WeekLayout 
    week={5} 
    title="HTML Basis & Deployment" 
    subtitle="De basis van HTML leren en online zetten."
>
    <h2>Wat heb ik gedaan?</h2>
    <p> Ik heb mijn github repositories aangemaakt en geconfigureerd, ik heb ook een eerste HTML pagina online gezet.</p>
    <ul class="list-disc pl-5">
        <li>GitHub repository aangemaakt</li>
        <li>Eerste 'Hello World' pagina online gezet</li>
    </ul>

    <h2>Waarom?</h2>
    <p>
        Continuous Deployment (via Netlify) zorgt ervoor dat mijn voortgang altijd zichtbaar is. GitHub dient als backup en versiebeheer.
    </p>
</WeekLayout>

