---
import WeekLayout from '../../layouts/WeekLayout.astro';
---

<WeekLayout week={8} title="Professionalisering Design" subtitle="Verfijnen van de styling.">
    <h2>Wat heb ik gedaan?</h2>
    <p>
        Ik heb de kenmerkende kleuren van de NMBS, namelijk blauw en grijs, toegevoegd aan de Tailwind-configuratie, zodat deze consequent gebruikt kunnen
        worden binnen de volledige styling van de website. (zie <code>globals.css</code>). Dit zorgt voor een uniforme uitstraling die aansluit bij de huisstijl
        van de opdrachtgever. Daarnaast heb ik deze kleuren toegepast in verschillende componenten en secties van de website om de visuele samenhang te
        versterken. Dit omvat het aanpassen van achtergronden, knoppen en tekstkleuren om ervoor te zorgen dat de gekozen kleuren op een effectieve manier
        worden geïntegreerd in het ontwerp. Het is belangrijk dat de kleuren niet alleen esthetisch aantrekkelijk zijn, maar ook bijdragen aan de leesbaarheid
        en gebruiksvriendelijkheid van de website. Er moet dus een hierarchie in kleurgebruik worden aangebracht om de aandacht van de gebruiker te leiden naar
        belangrijke elementen. Ook moet er een hierarchie in de typografie worden aangebracht zodat de gebruiker makkelijk door de content kan navigeren.
    </p>

    <h2>Waarom?</h2>
    <p>
        Het gebruik van een zorgvuldig gekozen, eigen kleurenpalet zorgt niet alleen voor visuele herkenbaarheid, maar sluit ook naadloos aan bij de identiteit
        en wensen van de opdrachtgever(fictief: NMBS-stijl). Dit versterkt de professionele uitstraling van de website en draagt bij aan een consistente
        gebruikerservaring. Daarnaast helpt een goed doordacht kleurenschema om de aandacht van gebruikers te sturen naar belangrijke elementen en acties op de
        pagina, wat de algehele gebruiksvriendelijkheid verbetert. Bovendien draagt het bij aan de toegankelijkheid van de website, waardoor een breder publiek
        de inhoud kan waarderen en begrijpen.
    </p>
</WeekLayout>
