---
import WeekLayout from '../../layouts/WeekLayout.astro';
---

<WeekLayout week={8} title="Professionalisering Design" subtitle="Verfijnen van de styling.">
    <h2>Wat heb ik gedaan?</h2>
    <p>
        Ik heb de kenmerkende kleuren van de NMBS, namelijk blauw en grijs, toegevoegd aan de Tailwind-configuratie, zodat deze consequent gebruikt kunnen
        worden binnen de volledige styling van de website. (zie <code>globals.css</code>).
    </p>

    <h2>Waarom?</h2>
    <p>Een eigen kleurenpalet zorgt voor herkenbaarheid en past bij de opdrachtgever (fictief: NMBS-stijl).</p>
</WeekLayout>
