---
import WeekLayout from '../../layouts/WeekLayout.astro';
---

<WeekLayout week={9} title="Figma Interactief Prototype" subtitle="Het mobiele ontwerp interactief maken.">
    <h2>Wat heb ik gedaan?</h2>
    <p>
        In Figma heb ik prototyping connections aangemaakt tussen de verschillende schermen. Hierdoor is het mogelijk om door het ontwerp te navigeren: wanneer
        je bijvoorbeeld op een knop klikt, word je daadwerkelijk naar het volgende scherm geleid. Dit maakt het ontwerp veel levendiger en geeft een beter beeld
        van hoe de uiteindelijke app zal functioneren. Het interactieve prototype stelt me ook in staat om feedback te verzamelen van gebruikers en
        belanghebbenden, wat cruciaal is voor het verfijnen van de gebruikerservaring. Daarnaast helpt het me om eventuele knelpunten in de navigatie of
        gebruikersflow vroegtijdig te identificeren en aan te pakken.
    </p>

    <h2>Waarom?</h2>
    <p>
        Een interactief prototype laat je 'voelen' hoe de app werkt, nog voordat er 1 regel code voor de app zelf is geschreven. Dit is een krachtig hulpmiddel
        om feedback te verkrijgen en de gebruikerservaring te optimaliseren. Het helpt ook om potentiële problemen vroegtijdig te identificeren en aan te
        pakken, wat tijd en kosten bespaart in latere ontwikkelingsfasen.
    </p>
</WeekLayout>
